@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-family: arial; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.keywords {
  color: #c00;
  font-style: normal;
  text-decoration: underline; }

.header {
  height: 55px;
  overflow: hidden;
  padding: 0 0 0 10px;
  width: 100%;
  z-index: 301;
  min-width: 1000px;
  border-bottom: 1px solid #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF; }
  .header h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 55px; }
    .header h1 a {
      display: block;
      height: 100%; }
      .header h1 a img {
        width: 101px;
        display: inline-block;
        vertical-align: top;
        margin: 7px 0 0 0; }
  .header .search {
    display: inline-block;
    vertical-align: top;
    margin: 11px 0 0 10px; }
    .header .search input {
      margin: 0;
      width: 439px;
      height: 34px;
      border: 1px solid #b6b6b6;
      border-right: 0;
      border-radius: 0;
      vertical-align: top;
      font: 16px/18px arial;
      line-height: 22px;
      padding: 0 0 0 7px;
      background: transparent;
      outline: 0;
      -webkit-appearance: none; }
    .header .search input:hover {
      border: 1px solid #4791ff;
      border-right: 0; }
    .header .search button {
      margin: 0;
      vertical-align: top;
      width: 100px;
      height: 34px;
      color: #fff;
      letter-spacing: 1px;
      border: 1px solid #2d78f4;
      font-size: 15px;
      outline: medium;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      cursor: pointer;
      background: #3385ff; }
      .header .search button:hover {
        background: #317ef3; }

.nav {
  background: #f8f8f8;
  line-height: 36px;
  height: 38px;
  margin: 55px 0 0 0;
  padding: 0 0 0 121px;
  float: none;
  zoom: 1; }
  .nav a {
    text-decoration: none;
    color: #666;
    display: inline-block;
    width: 100%;
    height: 100%; }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 15px; }
    .nav ul li {
      float: left;
      width: 75px;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 14px;
      cursor: pointer; }
    .nav ul li:active, .nav ul li.active {
      border-bottom: 2px solid #38f;
      font-weight: 700; }

.wrap {
  display: inline-block;
  margin: 30px 0 0 121px;
  width: 842px; }
  @media print {
    .wrap {
      margin: 30px 0 0 10px; } }
  .wrap .list {
    margin: 0;
    display: inline-block;
    width: 64%; }
    .wrap .list ul, .wrap .list li, .wrap .list h3 {
      margin: 0;
      padding: 0; }
    .wrap .list ul {
      list-style: none; }
    .wrap .list li {
      margin-bottom: 14px;
      clear: both; }
    .wrap .list h3 {
      font-size: medium;
      font-weight: 400;
      margin-bottom: 5px;
      clear: both;
      cursor: pointer;
      text-decoration: underline;
      color: -webkit-link;
      display: inline-block; }
    .wrap .list .photo {
      margin-right: 17px;
      float: left; }
    .wrap .list .vertical img {
      width: 121px; }
    .wrap .list .horizontal img {
      width: 121px; }
    .wrap .list .detail {
      font-size: 12px;
      float: left;
      display: inline-block;
      width: 385px; }
      .wrap .list .detail ul {
        display: inline-block;
        width: 100%;
        vertical-align: top; }
      .wrap .list .detail li {
        font-size: 13px;
        margin: 0;
        line-height: 1.54; }
      .wrap .list .detail .url-link {
        display: inline-block;
        height: 100%;
        vertical-align: bottom; }
        .wrap .list .detail .url-link a {
          color: green;
          font-size: 13px;
          text-decoration: none; }
      .wrap .list .detail.custom, .wrap .list .detail ul.custom {
        width: 99%; }
      .wrap .list .detail li.custom {
        list-style: disc;
        margin-left: 10px; }
      .wrap .list .detail p {
        margin: 0 0 10px 0; }
  .wrap .other-info {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 35.5%;
    border-left: 1px solid #e1e1e1;
    padding-left: 17px; }
    .wrap .other-info h3 {
      margin: 0 0 10px 0;
      font-size: 14px;
      line-height: 1.29;
      font-weight: 700;
      color: #333; }
    .wrap .other-info ul {
      margin: 0;
      padding: 0; }
      .wrap .other-info ul li {
        list-style: none; }
    .wrap .other-info .section {
      margin-bottom: 20px; }
    .wrap .other-info .contact li {
      margin: 0 17px 0 0;
      float: left;
      padding: 0;
      display: inline-block;
      width: 75px;
      overflow: hidden; }
      .wrap .other-info .contact li img {
        width: inherit;
        display: block; }
    .wrap .other-info .contact p {
      margin: 5px 0 5px 0;
      padding: 0;
      text-align: center;
      font-size: 12px;
      color: #999; }
    .wrap .other-info .skill {
      font-size: 13px; }
      .wrap .other-info .skill h4, .wrap .other-info .skill p {
        margin: 0; }
      .wrap .other-info .skill h4 {
        font-weight: 500; }
      .wrap .other-info .skill p {
        margin: 0 0 10px 0; }
    .wrap .other-info .assessment, .wrap .other-info .other-contact {
      font-size: 13px; }
      .wrap .other-info .assessment li, .wrap .other-info .other-contact li {
        height: 30px;
        line-height: 30px; }
      .wrap .other-info .assessment h4, .wrap .other-info .other-contact h4 {
        margin: 0;
        font-weight: 500;
        display: inline-block;
        width: 50px; }
      .wrap .other-info .assessment .progress-wrap, .wrap .other-info .other-contact .progress-wrap {
        background: #eee;
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        height: 6px;
        border-radius: 3px; }
        .wrap .other-info .assessment .progress-wrap .progress-bar, .wrap .other-info .other-contact .progress-wrap .progress-bar {
          display: inline-block;
          vertical-align: top;
          background: #00b88d;
          width: 0;
          height: 100%;
          border-radius: inherit; }
    .wrap .other-info .other-contact h4 {
      font-weight: 600; }
    .wrap .other-info .other-contact li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .wrap .other-info .other-contact #cxmonkey2015 a {
      color: #333;
      text-decoration: none;
      position: relative;
      font-weight: 600;
      cursor: text; }
    .wrap .other-info .other-contact #cxmonkey2015:hover:after {
      content: "服务器到期，暂停运营";
      display: inline-block;
      background: #ddd;
      padding: 0 5px;
      border-radius: 2px;
      position: absolute;
      z-index: 9999999; }
    .wrap .other-info .resume-qrcode img {
      width: 50%; }

.wrap .list .catlog {
  width: 100%;
  display: none; }
  .wrap .list .catlog ul#catlog-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    .wrap .list .catlog ul#catlog-ul > li {
      width: 25%;
      display: inline-block;
      margin: 0;
      font-size: 15px;
      background: #fff;
      text-align: center;
      padding: 20px 0; }
      .wrap .list .catlog ul#catlog-ul > li .content {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 5px;
        font-size: 20px;
        border-right: 1px solid #ddd; }
        .wrap .list .catlog ul#catlog-ul > li .content li:first-child {
          margin-bottom: 10px; }
      .wrap .list .catlog ul#catlog-ul > li:nth-child(4) .content {
        border: none; }
  .wrap .list .catlog .content ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    margin: 0;
    line-height: 16px; }
    .wrap .list .catlog .content ul li:nth-child(1) {
      color: #63a0df;
      font-size: 14px; }
  @media print {
    .wrap .list .catlog {
      display: none; } }
.wrap .list .career-detail ul {
  margin: 0; }
  .wrap .list .career-detail ul li {
    margin: 0;
    font-size: 12px;
    color: #333; }
    .wrap .list .career-detail ul li .section {
      padding: 5px;
      background: #fcfcfc;
      margin-bottom: 5px; }
      .wrap .list .career-detail ul li .section:hover {
        background: #eee; }
    .wrap .list .career-detail ul li h4 {
      font-size: 13px;
      margin: 10px 0 5px 0;
      color: #000;
      font-weight: 600; }
    .wrap .list .career-detail ul li h5 {
      color: #333;
      font-size: 12px;
      font-weight: 400;
      margin: 0 0 5px 0; }
      .wrap .list .career-detail ul li h5:before {
        content: "| ";
        font-weight: 600; }
    .wrap .list .career-detail ul li p {
      margin: 0 0 10px 0; }
    .wrap .list .career-detail ul li .half {
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin-right: 20px; }
.wrap .other-info {
  position: relative; }
  .wrap .other-info .catlog {
    position: fixed;
    top: 150px;
    left: 680px; }
    @media print {
      .wrap .other-info .catlog {
        margin-left: -121px; } }
  .wrap .other-info .skill-list {
    display: none; }
  @media screen and (min-height: 1000px) {
    .wrap .other-info .skill-list {
      position: fixed;
      top: 600px;
      left: 680px;
      display: inline-block;
      width: 200px; }
      .wrap .other-info .skill-list li {
        display: inline-block;
        margin: 7px; }
      .wrap .other-info .skill-list img {
        width: 50px; } }
  @media print {
    .wrap .other-info .skill-list {
      position: fixed;
      top: 600px;
      left: 680px;
      display: inline-block;
      width: 200px; }
      .wrap .other-info .skill-list li {
        display: inline-block;
        margin: 7px; } }
  @media print {
    .wrap .other-info .skill-list {
      margin-left: -121px; } }
  @media print {
      .wrap .other-info .skill-list img {
        width: 50px; } }
  .wrap .other-info .catlog-level1 {
    border-left: 1.5px solid #d1d1d1;
    padding-left: 20px; }
    .wrap .other-info .catlog-level1 > li {
      margin-bottom: 10px; }
      .wrap .other-info .catlog-level1 > li:hover i {
        background: #5896d5; }
      .wrap .other-info .catlog-level1 > li span {
        display: inline-block;
        margin: 5px 0;
        position: relative;
        font-size: 14px;
        font-weight: 700;
        color: #555; }
        .wrap .other-info .catlog-level1 > li span i {
          display: inline-block;
          width: 8px;
          height: 8px;
          background: #d1d1d1;
          line-height: 14px;
          position: absolute;
          top: 3px;
          left: -25px;
          border-radius: 50%; }
  .wrap .other-info .catlog-level2 > li {
    font-size: 14px;
    color: #999;
    padding: 3px 0 3px 25px; }
    .wrap .other-info .catlog-level2 > li:hover {
      background: #dfdcdc; }

.wrap.profile {
  margin-left: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #eee; }
  .wrap.profile .section1 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #eee;
    padding-bottom: 25px; }
    .wrap.profile .section1 .title-bar {
      height: 32px;
      background-color: #E3E3E3;
      padding: 0 12px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .wrap.profile .section1 .title-bar i {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-top: 8px;
        margin-right: 8px; }
      .wrap.profile .section1 .title-bar .red {
        background-color: #FF5F57; }
      .wrap.profile .section1 .title-bar .yello {
        background-color: #FFBD2E; }
      .wrap.profile .section1 .title-bar .green {
        background-color: #28CA42; }
    .wrap.profile .section1 .portrait {
      display: inline-block;
      width: 80px;
      overflow: hidden;
      margin: 25px 0 50px 25px; }
      .wrap.profile .section1 .portrait img {
        width: 100%;
        border-radius: 50%;
        border: 3px solid #fff; }
    .wrap.profile .section1 .describe {
      display: inline-block;
      font-size: 13px;
      vertical-align: top; }
      .wrap.profile .section1 .describe ul {
        margin: 25px 0 0 25px;
        padding: 0;
        list-style: none; }
        .wrap.profile .section1 .describe ul li {
          margin: 0; }
        .wrap.profile .section1 .describe ul .english-name {
          font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, ".SFNSDisplay-Regular", Heiti SC, Microsoft Yahei, Segoe UI;
          line-height: 28px;
          font-weight: 600;
          color: #999;
          font-size: 21px; }
        .wrap.profile .section1 .describe ul .subtitle {
          font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, ".SFNSDisplay-Regular", Heiti SC, Microsoft Yahei, Segoe UI;
          line-height: 28px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.7);
          font-size: 19px;
          color: #999;
          margin-bottom: 16px; }
        .wrap.profile .section1 .describe ul p {
          font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, ".SFNSDisplay-Regular", Heiti SC, Microsoft Yahei, Segoe UI;
          line-height: 20px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.7);
          font-size: 14px;
          color: #888;
          margin: 5px 0; }
    .wrap.profile .section1 pre {
      display: inline-block;
      font-size: 16px;
      font-family: monospace;
      float: right;
      color: #ccc;
      margin-right: 30px; }
  .wrap.profile .section2 {
    margin: 20px 0 0 0; }
    .wrap.profile .section2 #chart1, .wrap.profile .section2 #chart2 {
      display: inline-block;
      width: 50%;
      height: 250px; }
  .wrap.profile .section3 {
    width: 100%;
    height: 200px;
    margin: 20px 0 0 0;
    padding: 10px; }
    .wrap.profile .section3 .line {
      height: 1px;
      margin-bottom: 20px;
      border-top: 1px solid #ccc; }
    .wrap.profile .section3 p {
      font-size: 13px;
      text-indent: 26px; }

.footer {
  margin: 30px 0 40px 121px; }
  @media print {
    .footer {
      margin: 30px 0 0 10px; } }
  .footer ul {
    display: inline-block;
    padding: 0;
    list-style: none; }
    .footer ul li {
      display: inline-block;
      margin: 0 9px 0 0;
      border: 1px solid #e1e2e3;
      cursor: pointer; }
      .footer ul li:hover {
        border: 1px solid #38f;
        background: #f2f8ff; }
      .footer ul li.active, .footer ul li:active, .footer ul li:active:hover {
        border: 0;
        font-weight: 600;
        color: #333;
        background: none;
        cursor: text;
        font-size: 13px; }
      .footer ul li.active {
        padding: 0 13px; }
      .footer ul li a {
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        line-height: 34px;
        text-align: center;
        color: -webkit-link;
        padding: 0 13px; }
        .footer ul li a:active {
          color: -webkit-link; }
  @media print {
    .footer {
      display: none; } }

/*# sourceMappingURL=style.css.map */
